:root {
  --main-text-color: #757575;
  --active-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  color: #212121;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

/*%%%%%%%%%%%%%%%%%--INDEX.HTML--%%%%%%%%%%%%%%%%%*/
/*================РАЗНОЕ================*/
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  display: flex;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/*================РАЗНОЕ================*/

/*================HEADER================*/
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  align-items: center;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-item {
  color: var(--active-color);
}

.nav-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 32px 0px;
}

.nav-list-link.current::after {
  content: "";
  display: block;
  background-color: var(--active-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.address-list-link:hover,
.address-list-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--active-color);
}

.current {
  color: var(--active-color);
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*================END HEADER================*/

/*================HERO================*/

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bckg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
  margin: 0px auto;
  padding: 200px;
  /* position: relative; */
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 700px;
  margin-bottom: 30px;
  min-height: 120px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--active-color);
  padding: 0px;
  border-width: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

/*================MODAL-WINDOW================*/

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  padding: 40px;

  display: flex;
  flex-direction: column;
}

.is-hidden {
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--active-color);
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  height: 58px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  margin-bottom: 10px;
}

.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  padding-left: 42px;

  cursor: pointer;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  left: 0;
  top: 0;
}

.modal-form-input:focus ~ .modal-form-input-icon {
  fill: var(--active-color);
}

.modal-form-input:focus {
  border-color: var(--active-color);
  outline: none;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form-comments-label {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form-comments-label-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;

  resize: none;
  padding: 12px;
  margin-top: 4px;
  margin-bottom: 20px;

  cursor: pointer;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comments-label-textarea:focus {
  border-color: var(--active-color);
  outline: none;
}

.modal-form-comments-label-textarea::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-confirmation-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.confirmation-details-link {
  color: var(--active-color);
  text-decoration-skip-ink: none;
}

.modal-form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;

  margin-right: 7px;
}

.modal-form-checkbox:checked + .checkbox-icon {
  background-color: var(--active-color);
  border: none;
  background-image: url(../images/svg/active-checkbox.svg);
  fill: #ffffff;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*================END HERO================*/
/*================MAIN SECTION================*/

.main-section {
  margin: 94px 0px;
}
.main-section-list {
  display: flex;
}

.main-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.main-section-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-section-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  width: 270px;
}

/* ICONS */
.main-section-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/* END ICONS */
/*================END MAIN SECTION================*/
/*================ABOUT ME SECTION================*/

.about-me-container {
  margin-bottom: 94px;
}

.about-me-container .container {
  flex-direction: column;
}

.about-me-list {
  display: flex;
}

.about-me-list-item:not(:last-child) {
  margin-right: 30px;
}

.img-thumb {
  position: relative;
  height: 294px;
}

.image-text-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
}

.image-text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*================END ABOUT ME SECTION================*/
/*================MY TEAM SECTION================*/
.team-section {
  background-color: #f5f4fa;
}

.team-section .container {
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.employee-social-links-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
}

.employee-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.employee-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-link:hover,
.employee-social-link:focus {
  background-color: var(--active-color);
  color: #ffffff;
}

.social-link-icon {
  fill: currentColor;
}

/*================END MY TEAM SECTION================*/
/*================REGULAR CUSTOMERS SECTION================*/
.regular-customers {
  margin-top: 94px;
  margin-bottom: 94px;
}

.regular-customers .container {
  flex-direction: column;
}

.regular-customers-list {
  display: flex;
}

.regular-customers-list-item {
  margin-right: 30px;
}

.regular-customers-list-link {
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-list-link:hover,
.regular-customers-list-link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}

.regular-customers-icon {
  fill: currentColor;
}
/*================END REGULAR CUSTOMERS SECTION================*/
/*================FOOTER SECTION================*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo-item {
  color: var(--active-color);
}

.footer-address-list {
  margin-top: 20px;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-left-side {
  margin-right: 70px;
}

.footer-center-side {
  padding-top: 12px;
}

.footer-right-side {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-left: auto;
}

.undertitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer-social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--active-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--active-color);
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-for-subscribe-button {
  fill: #ffffff;
  margin-left: 10px;
}

/*================END FOOTER SECTION================*/
/*%%%%%%%%%%%%%%%%%--END INDEX.HTML--%%%%%%%%%%%%%%%%%*/

/*%%%%%%%%%%%%%%%%%--PORTFOLIO.HTML--%%%%%%%%%%%%%%%%%*/
/*================ВИЗУАЛЬНО СКРЫТЫЙ ЗАГОЛОВОК===================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/*================BUTTON================*/

.list-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  padding: 0px;
  border-width: 0px;
  padding: 6px 22px;
  transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button:hover,
.list-button:focus {
  color: #ffffff;
  background-color: var(--active-color);
}
/*================END BUTTON================*/

/*================PORTFOLIO LIST================*/
/* BUTTONS FLEX */
.portfolio .container {
  flex-direction: column;
  margin-top: 94px;
  margin-bottom: 64px;
}

.button-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}
/* END BUTTONS */

/* LIST */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item:not(:nth-child(3n + 0)) {
  margin-right: 30px;
}

.portfolio-list-item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.portfolio-list-link {
  color: #000000;
  width: 370px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding: 0px 20px 20px 20px;
}

.portfolio-list-link {
  display: block;
}

.portfolio-list-img {
  display: block;
}

/*================OVERLAY================*/
.overlay-thumb {
  position: relative;
  display: block;
  width: 370px;
  overflow: hidden;
}

.ovarlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover .ovarlay,
.portfolio-list-link:focus .ovarlay {
  transform: translateY(0%);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.overlay-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* END LIST */
/*================END PORTFOLIO LIST================*/

/*%%%%%%%%%%%%%%%%%--END PORTFOLIO.HTML--%%%%%%%%%%%%%%%%%*/
