.logo {
  @include secondaryFont(700, 26px, 1.192, 0.03em);
  color: black;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-item {
  color: $activeColor;
}

.footer-logo {
  @include secondaryFont(700, 26px, 1.192, 0.03em);
  color: white;
}

.footer-logo-item {
  color: $activeColor;
}
