.list-button {
  @include mainFont(500, 16px, 1.625, 0.03em);
  text-align: center;
  color: #212121;
  border-radius: $borderRadius;
  padding: 0px;
  border-width: 0px;
  padding: 6px 22px;
  @include transition(color background-color);
  &:hover,
  &:focus {
    color: white;
    background-color: $activeColor;
  }
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.button-list-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
